#logo {
	position: absolute;
	top: 60px;
	left: 455px;
	width: 800px;
	height: 458px;
}

#ytb {
	position: absolute;
	width: 570px;
	height: 320px;
	top: 385px;
	left: 50px;
}

#text {
	position: absolute;
	height: 340px;
	width: 720px;
	top: 385px;
	left: 540px;
	color: white;
	text-align: right;
	line-height: 1.8em;
}

#ruattend {
	position: absolute;
	left: 275px;
	top: 270px;
}

#attendbtn {
	background-image: url('./image/btn_attend.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	height: 115px;
	width: 115px;
	top: 200px;
	left: 585px;
	cursor: pointer;
}

#attendbtn:hover {
	background-image: url('./image/btn_attend_hover.png');
}

#overlay_login {
	width:403px;
	min-height:230px;
}

#overlay_login a {
	color: white;
	text-decoration: none;
}

#login_title, #login_hr,
#login_user, #login_pass,
#login_rmbr, #login_rmbr_label,
#login_submit, #login_rgstr {
	position: absolute;
}

#login_title {
	top: 15px;
	left: 25px;
	font-size: 1.3em;
}

#login_hr {
	top: 50px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	width: 100%;
	height: 2px;
}

#login_user,
#login_pass {
	font-size: 1.2em;
	width: 350px;
	padding: 5px;
	border-radius: 5px;
	left: 25px;
}

#login_user {
	top: 75px;
}

#login_pass {
	top: 125px;
}

#login_rmbr {
	top: 185px;
	left: 25px;
	cursor: pointer;
}

#login_rmbr_label {
	top: 185px;
	left: 45px;
	cursor: pointer;
}

#login_submit {
	top: 175px;
	left: 285px;
	width: 90px;
	height: 35px;
	border: 3px groove #222;
	border-radius: 5px;
	background: none;
	color: white;
	font-size: 1.3em;
	cursor: pointer;
}

#login_submit:hover {
	background-color: #381F1F;
}

#login_rgstr {
	top: 185px;
	left: 240px;
}

#overlay_contract {
	width:403px;
	min-height:230px;
}
