#logo {
	position: absolute;
	top: 60px;
	left: 455px;
	width: 800px;
	height: 458px;
}

#ytb {
	position: absolute;
	width: 570px;
	height: 320px;
	top: 385px;
	left: 50px;
}

#text {
	position: absolute;
	height: 340px;
	width: 630px;
	top: 385px;
	left: 630px;
	color: white;
	text-align: right;
	line-height: 1.8em;
}

#ruattend {
	position: absolute;
	left: 185px;
	top: 270px;
}

#attendbtn {
	background-image: url('./image/btn_attend.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	height: 115px;
	width: 115px;
	top: 200px;
	left: 495px;
	cursor: pointer;
}

#attendbtn:hover {
	background-image: url('./image/btn_attend_hover.png');
}

#overlay_login {
	width: 403px;
	height: 230px;
}

#overlay_login a {
	color: white;
	text-decoration: none;
}

#login_user, #login_pass,
#login_rmbr, #login_rmbr_label,
#login_submit, #login_rgstr,
#hx8_title, #hx8_hr {
	position: absolute;
}


#login_user,
#login_pass {
	font-size: 1.2em;
	width: 350px;
	padding: 5px;
	border-radius: 5px;
	left: 25px;
}

#login_user {
	top: 25px;
}

#login_pass {
	top: 75px;
}

#login_rmbr {
	top: 135px;
	left: 25px;
	cursor: pointer;
}

#login_rmbr_label {
	top: 135px;
	left: 45px;
	width: 80px;
	cursor: pointer;
}

#login_submit {
	top: 125px;
	left: 285px;
	width: 90px;
	height: 40px;
	border: 5px groove #222;
	border-radius: 10px;
	background: none;
	color: white;
	font-size: 1.3em;
	cursor: pointer;
}

#login_submit:hover {
	background-color: #381F1F;
}

#login_rgstr {
	top: 185px;
	left: 240px;
}

#overlay_contract {
	width: 600px;
	height: 700px;
}

#signinButton {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*
#contract_agree {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 5px 30px;
	border: 5px groove #222;
	border-radius: 10px;
}
*/

#contract_agree:hover {
	background-color: #381F1F;
}
