@font-face {
	font-family: 'wdcgbxk';
	src: url('font/wdcgbxk.ttf');
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #1C1B1B;
	min-width: 1440px;
	overflow-x: hidden;
	position: relative;
	z-index: -10;
}

#wrap {
	position: relative;
	height: 100%;
	width: 1250px;
	margin: 0 auto;
}

#bg_top, #bg_mid, #bg_bot, 
#frame_top, #frame_bot {
	position: absolute;
}

#frame_top,
#frame_bot {
	left: 50%;
	width: 1750px;
	margin-left: -875px;
}

#frame_top { top: 0px;   }
#frame_bot { top: 650px; }
#bg_top    { top: 0px;   }
#bg_mid    { top: 110px;  left: -140px; }
#bg_bot    { top: 510px; }

#logo {
	position: absolute;
	top: 40px;
	left: 455px;
	width: 800px;
	height: 458px;
}

#content {
	position: relative;
	height: 800px;
}

#pics img {
	z-index: -1;
}

#msg {
	color: white;
//	font-family: cyzzm;
	text-align: right;
	position: relative;
	top: 30px;
}

#nav {
	color: white;
	font-size: 1.2em;
	height: 42px;
	position: relative;
	top: 43px;
	left: 9px;
}

#nav ul {
	margin: 0px;
	padding: 0px;
}

#nav li {
	list-style-type: none;
	cursor: pointer;
	border-radius: 5px;
	width: 140px;
	height: 44px;
	text-align: center;
}

#nav li:hover {
	background-color: rgba(255,0,0,0.2);
}

#nav_l li { float: left;   margin-right: 7px; }
#nav_r li { float: right;  margin-left: 7px;  }

#nav img {
	position: relative;
	z-index: 10;
	top: 8px;
}

#ytb {
	position: absolute;
	width: 570px;
	height: 320px;
	top: 440px;
	left: 50px;
}

#text {
	position: absolute;
	height: 340px;
	width: 720px;
	top: 440px;
	left: 540px;
	color: white;
	font-family: 'wdcgbxk';
	text-align: right;
	line-height: 1.8em;
}

#ruattend {
	position: absolute;
	height: 54px;
	width: 272px;
	left: 275px;
	top: 230px;
}

#attendbtn {
	background-image: url('./image/btn_attend.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	height: 115px;
	width: 115px;
	top: 200px;
	left: 585px;
	cursor: pointer;
}

#attendbtn:hover {
	background-image: url('./image/btn_attend_hover.png');
}

#footer {
	text-align: center;
	width: 100%;
}

#footer_plurk,
#footer_ask,
#footer_hx8 {
	display: inline;
	height: 52px;
	margin: 20px 50px;
	cursor: pointer;
}

#footer_plurk {
	width: 82px;
}

#footer_ask {
	width: 68px;
}

#footer_hx8 {
	width: 110px;
}

.clearboth {
	clear: both;
}
